html,
body {
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
}

.layout {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.site__header {
  background: var(--color5);
}

.site__center {
  background: var(--color5);
  flex: 1;
}

.site__footer {
  background: var(--color5);
  position: relative;
  margin-top: auto;
}

.catalogItem__outer {
    padding: 10px;
}

.catalogItem {
    display: flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
    height: 100%;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
    color: #000;
    &:hover .catalogItem__title{
        color: red;
    }
}

.catalogItem__flags {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
}

.catalogItem__img {
  margin-bottom: 20px;

  & img {
    display: block;
    width: 100%;
  }
}

.catalogItem__title {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: auto;
  font-weight: 700;
}

.catalogItem__info {
    font-size: 14px;
    margin-bottom: 10px;
}

.catalogItem__price {
  font-size: 22px;
}